body {
    background-image: url("/assets/bg.jpg");
    text-align: center;
    color: white;
    padding: 100px 200px 100px 200px;
    background-size: 100%;
}

header {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-family: out
}

img {
    max-width: 20%;
}
