.container {
    width: 100%;
    max-width: 1400px;
}

body {
    background-image: url(../img/bg.jpg);
    color: white;
    /* padding: 100px 200px 100px 200px; */
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

header {
    padding: 20px;
    position: absolute;
    top:0;
    /* margin: 0 auto; */
    display: flex;
    justify-content: space-between;
}

#benchmark main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#options {
    display: flex;
}

#options .option {
   
}

#benchmark .question-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 200;
    font-size: 60px;
    line-height: 55px;
}

#benchmark h1 {
    max-width:55%;
}

h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    color: #900080;
    font-size: 32px;
    margin-bottom: 10px;
}

p {
    margin: 0;
}

ul {
    padding: 30px;
}

li {
    padding: 3px;
}

input {
    margin: 10px;
}

img {
    max-width: 150px;
    height: auto;
    margin-bottom: 50px;
}

.central {
    max-width: 100%;
}

.flex{
    display: flex;
    max-width: 100%;
    justify-content: space-between;
}

span {
    font-weight: 600;
}

footer {
    display: flex;
    justify-content: center;
}

.secondary-color {
    color:#900080;
}